- if @result
  :javascript
    function repeat() {
      window.location.href = window.location.href;
      window.location.refresh(true);
      return false;
    }
  %div#result
    #{@result}
    %br
    %a{:href=>'#', :onclick => "repeat();"} Repeat
    %br
    %a{:href=>'/'} Start Over
- else
  :javascript
    function clearInput(e) {
      if (e.cleared) { return; }
      e.cleared = true;
      e.value = '';
      e.style.color = '#000';
    }
    function formSubmit() {
      min = getValue('min',1);
      max = getValue('max',100);
      count = getValue('count',10);

      window.location = '/min/' + min + '/max/' + max + '/count/' + count;
      return false;
    }
    function getValue(fieldId, default_value){
      value = document.getElementById(fieldId).value;
      return ((value == "default is " + default_value.toString()) || value == "")
        ? default_value
        : value;
    }
  %div#container
    -if @error
      %div#error
        #{@error}
    %fieldset
      %ol
        %li
          %label{:for => "min"} Min:
          %input{:type => "text", :name => "min", :id => "min", :maxlength=>"5", :value => "default is 1", :onclick => "clearInput(this);"}
        %li
          %label{:for => "max"} Max:
          %input{:type => "text", :name => "max", :id => "max", :maxlength=>"5", :value => "default is 100", :onclick => "clearInput(this);"}
        %li
          %label{:for => "count"} How many?:
          %input{:type => "text", :name => "count", :id => "count", :maxlength=>"5", :value => "default is 10", :onclick => "clearInput(this);"}
      %a{:href => "#", :onclick => "formSubmit();"} Gimme A Number
